---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Calibri', sans-serif;
$base-font-size:   21px;
$small-font-size:  $base-font-size * 0.875;
$tiny-font-size:   $base-font-size * 0.7;
$base-line-height: 1.35;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #FFCC1A;
$brand-color:      #FF6600;

$grey-color:       #E68A00;
$grey-color-light: lighten($grey-color, 10%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    880px;

$on-palm:          600px;
$on-laptop:        880px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
